<p id="notice"><%= notice %></p>

<div class="container">
<h1>用户列表</h1>

<table>
  <thead>
    <tr>
      <th>电子邮件</th>
      <th>密码</th>
      <th>用户组</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.role %></td>
        <td><%= link_to '详情', user %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '注销', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新用户', new_user_path %>
</div>
