<body class="container">
<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<script>
function changetext(id)
{
id.innerHTML="谢谢!";
}
</script>

<article>
  <p>这是一个测试帖子。</p>
  <p><strong>粗体</strong>与<em>强调</em>文字的显示是这样的.</p>
  <% @post.body.to_s.each_char do |word|%>
    <button class = "bodycontent" onclick="document.createElement("form")"><%=word%></button>
  <% end -%>
</article>

<%= @post.author.email if @post.author %>
<!--下面这货在post_helper.rb里可以修改文字，但怎么改其前端风格还需要考虑一下-->
<%= action_links %>

<h3>回复：</h3>
<ul>
	<% @pages.each do |reply|%>
	<li>
	<strong> <%= reply.author.try(:email) or "匿名用户" %>:</strong>
	<%= reply.body %>	
	</li>
	<% end -%>

</ul>
	<center class = "centers"><%= paginate @pages %></center>
	<%= form_for Reply.new, url: reply_post_path do |f|%>

	<div><%= f.text_area :body, class: 'form-control' %></div>
	<%= f.submit '添加回复', class: 'btn btn-default' %> 
	<!--That's how you style a submit button-->

	<% end -%>	
</body>
