<!DOCTYPE html>
<html>
<head>
  <title>一个神奇的网站</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end -%>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end -%>
       <%= current_user.email if current_user %>
       <%= link_to "登出", destroy_user_session_path, data: { method: "delete"} %> | 
       <%= link_to "设置", edit_user_registration_path %>
<%= yield %>
</div>

</body>
</html>
